<mat-toolbar class="bg-color">
  <span><img src="https://as2.ftcdn.net/v2/jpg/03/31/93/85/1000_F_331938599_nmkc39B7E74s1G5P01b0YCJ6x0MNMqJz.jpg"
      alt="Shopping Logo" width="80px" height="50px"></span>
  <span class="example-spacer"></span>
  <button class="btn btn-sm btn-dark" (click)="openDialog()"><i class="fa fa-shopping-cart p-2"
      aria-hidden="true"></i>Buy Now</button>
</mat-toolbar>

<div class="container mt-5">
  <h4 class="bg-primary text-bold">My Product List</h4>
  <div class="row row-cols-1 row-col-sm-3 row-cols-md-4">
    <div class="col mb-4 " *ngFor="let prod of product ; let i = index">
      <div class="card h-100 ">
        <h5 class="card-title text-center mt-4">{{prod.name}}</h5>
        <div class="card-body">
          <img src="{{prod.image}}" class="card-img-top  img-fluid img-thumbnail-col-sm-2 " alt="Product Image"
            style="width: 300px; height:250px;">
          <p class="card-text text-muted text-center pt-2"> {{prod.price | currency:'INR'}}</p>
          <div class="text-center">
            <button class="btn btn-sm btn-secondary" (click)="addToCart(prod)">Add to Bag</button>
          </div>
        </div>
      </div>
    </div>
  </div>

   <h4 class="bg-primary text-bold color-white">My Shopping Bag</h4>
   <table class="table table-bordered table-hover" *ngIf="product.length !==0;  else elsepart" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price Details</th>
        <th scope="col">Order Total</th>
        <th scope="col" >Action</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let sm of Product ; let i = index"> 
        <th scope="row">{{i+1}}</th>
        <td>{{sm.name}}</td>
        <td> 
          <button  mat-mini-fab matTooltip="Accent" color="accent" (click)="decreaseQuantity(sm)" class="mr-2 text-bold">-</button>
          <span>{{sm.qantity}}</span>
          <button  mat-mini-fab matTooltip="Accent" color="accent" (click)="increaseQuantity(sm)" class="ml-2 text-bold">+</button>
        </td>
        <td>{{sm.price | currency:'INR'}}</td>
        <td>{{ sm.qantity*sm.price|currency:'INR'}}</td>
        <td > <button class="btn btn-danger btn-sm" (click)="deleteProduct(i)"><mat-icon>restore_from_trash</mat-icon></button></td>
      </tr>
      <tr class="text-right">
        <td colspan="4" style="color: blue; font-size: 18px; font-weight: bold;">Total</td>
        <td>{{ getTotal()| currency:'INR'}}</td>
    </tr>
    </tbody>
  </table>
  <ng-template #elsepart>
    <h4>Please Buy Now The New Product </h4>
</ng-template>
</div>


